@import url("https://fonts.googleapis.com/css?family=Orbitron");
@font-face {
    font-family: "dseg7";
    src: url("/fonts/DSEG7CR.ttf") format("truetype"), url("/fonts/DSEG7CR.woff") format("woff"), url("/fonts/DSEG7CR.woff2") format("woff2");
    font-style: normal;
}

@media only screen and (orientation: portrait) {
    .calculator-container {
        min-width: 98%;
    }
}

/*Calculator styling*/

.calculator-container {
    max-width: 30%;
    min-height: 50vh;
    margin: 10% auto;
    background-color: #9ca073;
    border-radius: 10px;
}

/*Keyboard styling*/

.keyboard {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    font-family: "Orbitron", sans-serif;
    background-color: #9ca073;
    padding: 2vh;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: larger;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
}

.my-button-container {
    padding: 2px;
}

.my-button {
    text-align: center;
    padding: 10px;
}

.normal {
    width: 23px;
    height: 23px;
    border-radius: 3px;
    box-shadow: 0px 5px 5px 1px #000;
    border: 1px solid black;
}

.my-button:hover {
    width: 23px;
    height: 23px;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px 1px #000;
    border: 1px solid black;
}

#mycontid-18 {
    grid-column: 3 / 5;
}

#mycontid-18>.my-button {
    width: auto;
}

#zero,
#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#decimal {
    border-color: #21262a;
    background-color: #dae7e3;
    color: #21262a;
}

#divide,
#multiply,
#add,
#subtract,
#equals {
    background-color: #21262a;
    color: #c2b781;
}

#clear-all,
#backspace,
#clear {
    background-color: #921f26;
    color: #c2b781;
}

/*Display styling*/

.display-container {
    min-height: 10vh;
    margin: 15px 10%;
    border-radius: 3px;
    font-family: "dseg7", sans-serif;
    color: #4dde93;
    background-color: #011509;
}

#main-display {
    padding: 15px 0 0 0;
    height: 30%;
    font-size: smaller;
    text-align: center;
    text-shadow: 0px 0px 10px gray;
}

#display {
    padding: 15px 10px 10px 5px;
    height: 40%;
    font-size: larger;
    text-align: center;
    text-shadow: 0px 0px 10px gray;
}

/*Footer*/

footer {
    text-align: center;
}

/*-----TEMP-----*/

/* .my-button-container, */

.calculator-container {
    border: 1px solid black;
}